
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    min-width: 100%;
    padding: 0 30px;
  }
  .header {
    padding: 15px 30px;
  }
  .header-title > a > img {
    min-width: 182px;
    min-height: 24px;
  }
  .header-menu {
    display: none;
  }
     .header-menu-2{
    animation: menu 1.1s ease-in-out forwards;
    list-style: none;
    padding: 0 30px;
    display: none;
    margin-bottom: 30px;
  }
   @keyframes menu {
    0%{
      transform: translateY(-100%);
      transform-origin: top;
      height: 0;
    }
    100%{
      height: 100%;
      transform: translateY(0);
    }
  }
  .info-bg{
    width: 100%;
    height: 320px;
  }
  .info-bg:first-child {
    display: none;
    }
  .info-bg:nth-child(2){
    display: none;
  }
  .info-title{
    font-size: 3.8rem;
    line-height: 45.6px;
  }
  .info-details > ul > li > a ,
  .info-tag > span,
  .info-details > span,
  .info-description > span,
  .info-created > span{
    font-size: 1.6rem;
    line-height: 22.4px;
  }
  .info-desctiption_list{
    gap: 30px;
    max-width: 100%;
  }
  .info-desctiption_list > p {
    font-size: 1.6rem;
    line-height: 22.4px;
  }
  .info-details > ul > li > a  > img{
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
  }
  .info-tag > ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .info-content_time{
    display: none;
  }
  .info-content_time-2 {
    width: 100%;
    margin: 20px 0;
  }
  .wrapper-content-menu{
    /* justify-content: center; */
  }
  .product-nav_item > a > span {
    display: none;
  }
  .product {
    padding: 40px 0 60px;
  }
  .product-header-btn {
    display: none;
  }
  .product-header-btn-2 {
    width: 100%;
    margin-top: 40px;
  }
  .product-header-title > h2 {
    font-size: 2.8rem;
    line-height: 39.2px;
  }
  .product-header-title > p {
    font-size: 1.6rem;
    line-height: 22.4px;
  }
  .product-menu {
    /* margin-top: 40px; */
  }
  .product-menu-item {
    width: 100%;
    /* margin-bottom: 30px; */
  }
  .product-menu-item:nth-child(2) ~ .product-menu-item{
    display: none;
  }
  .product-menu-item:last-child {
    margin-bottom: 0;
  }
  .product-menu-list > li > p {
    font-size: 1.2rem;
    line-height: 13.2px;
  } 
  .footer-main {
    flex-direction: column;
    gap: 30px;
  }
  .footer-list {
    margin: 0 !important;
  }
  .footer-menu-form {
    flex-direction: column;
    background: transparent;
    gap: 16px;
  }
  .footer-menu-input {
    height: 46px;
    padding: 12px 20px;
  }
  .footer-menu-btn {
    padding: 12px 20px;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .container {
    max-width: 100%;
    min-width: 100%;
    padding: 0 72px;
  }
  .header {
    padding: 15px 50px;
  }
  .header-title > a > img {
    min-width: 182px;
    min-height: 24px;
  }
  .header-menu {
    display: none;
  }
   .header-menu-2{
    animation: menu 1.1s ease-in-out forwards;
    list-style: none;
    padding: 0 30px;
    display: none;
    margin-bottom: 30px;
  }
   @keyframes menu {
    0%{
      transform: translateY(-100%);
      transform-origin: top;
      height: 0;
    }
    100%{
      height: 100%;
      transform: translateY(0);
    }
    }
    .info-bg{
      width: 100%;
      height: 420px;
    }
    .info-bg:nth-child(odd){
      display: none;
    }
  .info-title{
    font-size: 3.8rem;
    line-height: 45.6px;
  }
  .info-details > ul > li > a ,
  .info-tag > span,
  .info-details > span,
  .info-description > span,
  .info-created > span{
    font-size: 1.6rem;
    line-height: 22.4px;
  }
  .info-desctiption_list{
    gap: 30px;
    max-width: 365px;
  }
  .info-desctiption_list > p {
    font-size: 1.6rem;
    line-height: 22.4px;
  }
  .info-details > ul > li > a  > img{
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
  }
  .info-tag > ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .info-content_time-2 {
    display: none;
  }
  .product {
    padding: 40px 0;
  }
  .product-header-title > h2 {
    font-size: 2.8rem;
    line-height: 39.2px;
  }
  .product-header-title > p {
    font-size: 1.6rem;
    line-height: 22.4px;
  }
  .product-header-btn-2 {
    display: none;
  }
  .product-menu {
    margin-top: 40px;
  }
  .product-menu-item {
    width: calc((100% - 30px) / 2);
  }

  .product-menu-item:nth-child(6) ~ .product-menu-item{
    display: none;
  }
  .footer-main {
    flex-direction: column;
    gap: 30px;
  }
  .footer-list {
    margin: 0 !important;
  }
  .footer-menu-form {
    max-width: 420px;
  }
}
@media (min-width: 1024px) {
  .header-icon-bar {
    display: none;
  }
  .header-menu-2{
    display: none;
  }
  .product-header{
    display: none;
  }
    .info-bg:first-child ~ .info-bg{
    display: none;
    }
    .info-content_time-2 {
        display: none;
    }
  .creator-header-btn-2 {
    display: none;
  }
  .product-header-btn-2 {
    display: none;
  }
  .wrapper-content-btn-2 {
    display: none;
  }
  .register-bg > img:last-child {
    display: none;
  }
}


