.header {
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-title > a > img {
  min-width: 243.41px;
  min-height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}
.header-icon-bar {
  min-width: 24px;
  min-height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 10px;
}
.header-menu-item > a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Work;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 22.4px;
  color: #fff;
  text-decoration: none;
  padding: 19px 30px;
  gap: 12px;
}
.header-menu-item > a > img {
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 20px;
  min-width: 20px;
}
.header-menu-item:last-child {
  background: #a259ff;
  border-radius: 20px;
  border: 1px solid transparent;
}
.header-menu-item:last-child:hover {
  background: transparent;
  border: 1px solid #a259ff;
  transition: 0.3s;
  opacity: 0.8;
}

nav {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
.search{
    padding: 80px 0;
}
.search-title{
    font-size: 5.1rem;
    line-height: 56.6px;
}
.search-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-radius: 20px;
    border: 1px solid #3B3B3B;
    margin-top: 30px;
}
.search-input > input{
    flex-grow: 1;
    padding: 20px 0;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #858584;
    font-size: 1.6rem;
    line-height: 22.4px;
    font-weight: 400;
}

.product {
  padding: 60px 0;
}
.product-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  flex-wrap: wrap;
}
.product-menu-item {
  width: calc((100% - 60px) / 3);
  display: flex;
  flex-direction: column;
}
.product-menu-item:hover {
  animation: item 0.3s ease forwards;
}
.product-menu-item > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.product-menu-info {
  padding: 20px 30px 25px;
  border-radius: 0 0 20px 20px;
  background: #3B3B3B;
  color: #fff;
}
.product-menu-info > h3 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 30.8px;
}
.product-menu-user {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 5px 0 25px;
}
.product-menu-user > img {
  max-width: 24px;
  max-height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
     border-radius: 50%;
}
.product-menu-user > span {
  font-family: Spacemono;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 22.4px;
}
.product-menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-menu-list > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Sapcemomo;
}
.product-menu-list > li:first-child {
  margin-bottom: 8px;
}
.product-menu-list > li > span {
  color: #858584;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 13.2px;
}
.product-menu-list > li > p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 22.4px;
  color: #fff;
}

.product-nav {
  background: #2B2B2B;
}
.product-nav_list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.product-nav_item {
  width: 50%;
}
.product-nav_item:first-child > a {
  color: #fff;
  border-bottom: 2px solid #858584;
}
.product-nav_item:first-child a > span {
  background: #858584;
}
.product-nav_item > a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 30.8px;
  color: #858584;
  text-decoration: none;
  padding: 14px 0;
  gap: 16px;
}
.product-nav_item > a > span {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 22.4px;
  padding: 5px 10px;
  background: #3B3B3B;
  border-radius: 20px;
  color: #fff;
}

.product {
  background: #3B3B3B;
}
.product-header {
  display: none;
}
.product-menu {
  margin-top: 0;
  gap: 30px 0;
}
.product-menu-info {
  background: #2B2B2B;
}

.footer {
  padding: 40px 0;
}
.footer-main {
  display: flex;
  width: 100%;
}
.footer-list:first-child {
  margin-right: 115px;
}
.footer-list:last-child {
  flex-grow: 1;
  margin-left: 138px;
}
.footer-list > h1 > a > img {
  min-width: 243.41px;
  min-height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer-list > h3 {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 35.2px;
  font-family: Spacemono;
  color: #fff;
}
.footer-menu {
  list-style: none;
  margin-top: 25px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.footer-menu-item > ul {
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
}
.footer-menu-item > a {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 22.4px;
  text-decoration: none;
  color: #ccc;
}
.footer-menu-text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 22.4px;
  color: #ccc;
}
.footer-menu-form {
  display: flex;
  background: #fff;
  border-radius: 20px;
}
.footer-menu-input {
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 19px 12px 19px 20px;
  flex-grow: 1;
}
.footer-menu-input::-moz-placeholder {
  font-weight: 400;
  font-size: 1.6rem;
  font-family: Work;
  color: #2B2B2B;
  line-height: 22.4px;
}
.footer-menu-input::placeholder {
  font-weight: 400;
  font-size: 1.6rem;
  font-family: Work;
  color: #2B2B2B;
  line-height: 22.4px;
}
.footer-menu-btn {
  background: #A259FF;
}
.footer-menu-btn:hover {
  transform: scale(0.95);
  transform-origin: center;
  transition: 0.3s;
}
.footer-about {
  border-top: 1px solid #858584;
  margin-top: 30px;
}
.footer-about > span {
  margin-top: 20px;
  display: inline-block;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 13.2px;
  color: #ccc;
}

.footer {
  border-top: 2px solid #2B2B2B;
  background: #3B3B3B;
}/*# sourceMappingURL=artist.css.map */